<!DOCTYPE html>
<html lang=en>
  {{ template "header" }}

  <body>
  <div id="background"></div>
  <div class="top">
    <h1>404</h1>
    <h3>page not found</h3>
  </div>
  <div class="container">
    <div class="ghost-copy">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
    </div>
    <div class="ghost">
      <div class="face">
        <div class="eye"></div>
        <div class="eye-right"></div>
        <div class="mouth"></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
  <div class="bottom">
    <p>Boo, looks like a ghost stole this page!
    <br>
    But you can type an URL below to shorten it</p>
    <form class="search" action="/" method="POST">
      <input type="text" id="url" name="url" class="search-bar" placeholder="http://something :)">
      <button type="submit" value="Submit" name="Submit" class="search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>

  {{ template "footer" }}
  </body>
</html>