<!DOCTYPE html>
<html lang=en>
  {{ template "header" }}

  <body>
  <div id="background"></div>
  <div class="top">
    <h1>500</h1>
    <h3>Internal server error</h3>
  </div>
  <div class="container">
    <div class="ghost-copy">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
    </div>
    <div class="ghost">
      <div class="face">
        <div class="deadeye"><h3 style="color:black;font-size:1.5em">X</h3></div>
        <div class="deadeye-right"><h3 style="color:black;font-size:1.5em">X</h3></div>
        <div class="mouth"></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
  <div class="bottom">
    <p>Boo, the ghost is broken :(
    <br>
    His last words where: {{ . }} </p>
  </div>

  {{ template "footer" }}
  </body>
</html>