<!DOCTYPE html>
<html lang=en>
  {{ template "slimheader" }}
  <body>
  <div class="bottom">
    <p>Welcome to Short, the simple URL shortener,
    <br>
    Type an URL below to shorten it</p>
    <form class="search" action="/" method="POST">
      <input type="text" id="url" name="url" class="search-bar" placeholder="http://something :)">
      <button type="submit" value="Submit" name="Submit" class="search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  {{ template "footer" }}
  </body>
</html>