<!DOCTYPE html>
<html lang=en>
  <head>
    <title>Short: the simple url shortner</title>
    <style>
		@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

    body {
      background: #D3DEEA;
    }

		.bottom {
      position:fixed;
			top:30%;
			left:35%;
    }

		p {
      text-align: center;
      font-family: 'Lato', sans-serif;
      color: #585959;
      font-size: 1em;
      margin-top: -20px;
      text-transform: uppercase;
    }
    </style>
  </head>
<body>
	<div class="bottom">
		<p>URL Shortened to <a href="{{ . }}">{{ . }}</a></p>
	</div>
</body>
</html>